@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box; }

html, body {
  margin: 0 0;
  padding: 0 0;
  height: 100%;
  font-family: 'Lato', sans-serif; }

body {
  background-color: #e9f0f4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e3641; }

.row {
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: flex; }

.todo-container {
  max-width: 350px;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background: white; }
  .todo-container .gray {
    background: #2e3641; }
    .todo-container .gray h2 {
      padding: 20px 0 20px 5px;
      margin: 0 0;
      color: rgba(255, 254, 255, 0.8);
      width: 100%;
      border-left: solid 1px rgba(255, 254, 255, 0.1);
      font-weight: bold; }
  .todo-container .todo-form #todoMessage {
    width: 100%;
    padding-left: 10px;
    border: none;
    height: 26px;
    border-left: 1px solid rgba(255, 0, 0, 0.2); }
  .todo-container .todo-form #div-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    flex: 1;
    border-right: 1px solid rgba(255, 0, 0, 0.2); }
    .todo-container .todo-form #div-btn .button {
      background: none;
      width: 100%;
      height: 26px;
      border: none;
      cursor: pointer; }

.empty-box {
  flex: 1;
  margin-right: 5px;
  border-right: solid 1px rgba(255, 254, 255, 0.1); }

.box {
  flex: 11; }

.todo-element-text {
  height: 27px;
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  border-left: 1px solid rgba(255, 0, 0, 0.2); }

.todo-element-checkbox {
  padding-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 5px;
  border-right: 1px solid rgba(255, 0, 0, 0.2); }
  .todo-element-checkbox input {
    cursor: pointer; }

.todo-element-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; }
  .todo-element-delete button {
    cursor: pointer;
    border: none;
    background: none; }

.line-throught {
  text-decoration: line-through;
  color: #9eb2c0; }

.filter-img {
  filter: invert(80%); }
